@import url(./fonts.css);
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
a {
  text-decoration: none;
  background-color: transparent;
}
.body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
.naver{
  display: flex;
}
/*********************************************************************/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
/*********************************************************************/
/***************************************NAV**************************************/
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #009ffd 80%, #2a2a72 0%);
  flex-wrap: wrap;
  height: 0px;
  min-height: 80px;
  overflow: hidden;
  transition: height 1s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(255, 255, 255, 0.23) 0px 3px 6px;
  /* opacity: 0.8; */
}
body nav .main-title {
  font-family: "Times New Roman", Times, serif;
  padding-top: 0.3rem;
  color: aqua;
  cursor: pointer;
  width: 160px;
}
.main-title img {
  min-height: 3rem;
  max-height: 4.5rem;
  /* max-width: 6rem; */
  margin-left: 15px;
  pointer-events: none;
}
nav .nav-elements {
  display: flex;
}
nav .nav-elements li {
  list-style: none;
}
nav .nav-elements a {
  text-decoration: none;
  color: aqua;
  padding: 3px 15px;
  font-size: 1.5em;
  font-family: "Rajdhani", sans-serif;
  transition: background-color 0.5s ease;
}
.line {
  background-color: orange;
  height: 0.2rem;
  width: auto;
  visibility: hidden;
  padding: 0;
  margin: 0;
  transition: visibility 0.1s ease;
}
nav .nav-elements a:hover {
  color: orange;
}
nav .nav-elements a:focus .line {
  visibility: visible;
}
nav .nav-elements a:focus {
  color: white;
}
nav .social-icons {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 1rem;
}
nav .social-icons a {
  color: aqua;
  font-size: 1.5em;
  padding: 0px 8px;
  transition: color 0.4s ease;
}
nav .social-icons a:hover {
  color: orange;
}
nav .ham-burger {
  color: aqua;
  font-size: 1.5em;
  position: absolute;
  top: 17px;
  right: 5%;
  display: none;
}
nav span {
  cursor: pointer;
}
.collapse {
  height: 26rem;
}

@media only screen and (max-width: 1089px) {
  nav {
    min-height: 4rem !important;
  }
  nav .nav-elements {
    flex-direction: column;
  }
  nav {
    display: block !important;
    flex-direction: column !important;
  }
  nav .ham-burger {
    display: initial;
  }
  nav .nav-elements a {
    width: fit-content;
    padding: 6px 10px;
  }
  nav .social-icons {
    margin-left: 2.5rem;
  }
  nav .main-title {
    padding-top: 0.3rem;
  }
  .main-title img {
    max-height: 3.5rem;
    max-width: 4rem;
    padding-left: 1rem;
    margin: 0rem;
  }
}
@media only screen and (min-width: 1090px) {
  nav {
    height: auto !important;
    min-height: 80px !important;
  }
}
/*************************************1NAV!**************************************/
/*************************************Page-load**********************************/
.page-load {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 999;
  top: 0;
  background-color: black;
  background-size: contain;
  overflow-y: hidden;
}
/***************************************FOOTER**************************************/
footer{
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  /* background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%); */
  /* background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%); */
  background-color: whitesmoke;
  /* background-color: greenyellow; */
  margin: 0;
  padding: 1rem;
}
footer h1{
  margin: 0;
  text-align: center;
}
.contact-us-cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aliceblue;
  padding: 3rem 0;
}
/* footer img{
  max-height: 80px;
} */
.contact-us-cont .map-cont{
  display: flex;
  text-align: center;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.soc-links a{
  margin: 0rem 0.5rem;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
footer img{
  pointer-events: none;
}
.soc-links a:hover{
  color: #e73c7e;
  transition: ease;
  transition-delay: 100ms;
}
.clg-soc-links-cont .soc-links{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: center;
}
.clg-soc-links-cont h1{
  margin: 0rem;
  text-align: center;
  font-family: 'Kanit';
  font-size: 1.5rem;
  color: white;
}

.contact-us-cont .clg-soc-links-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #00f2fe; */
  border-radius: 1.1rem;
  height: 300px;
  width: 350px;
  align-self: center;
  justify-self: center;
  background-color: rgba(25, 25, 25, 15);
  backdrop-filter: blur(30px);
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
}
/* .footer-con .clg-icons a{
  margin: 0.5rem 0rem;
  min-width: 250px;
  box-sizing: border-box;
} */
footer .dev-det{
  text-align: center;
  font-family: "Raleway-italic";
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  margin-top: -1.1rem;
  flex-wrap: wrap;
}
footer .dev-det span{
  font-family: "Kanit";
}
.dev-det a{
  margin: 0 0.3rem;
  font-size: 12px;
  color: black;
  text-decoration: none;
}
footer h1{
  font-family: "Kanit";
  font-weight: bolder;
  font-size: 2.5rem;
}
.fa-paper-plane{
  color: #00f2fe;
}
form button{
  background-color: black;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: #00f2fe;
  font-family: 'Kanit';
  cursor: pointer;
  margin: 0.3rem 0;
  align-self: center;
}
/* footer .dev-det h2{
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Kanit";
  font-weight: bold;
} */
/* footer .dev-det h3{
  font-family: "Raleway-Italic";
  font-size: 1.5rem;
} */

.contact-us-cont form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  padding: 0.4rem 0.6rem;
  border-radius: 1.1rem;
  background-color: white;
  backdrop-filter: blur(30px);
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
  width: 350px;
  height: 300px;
  box-sizing: border-box;
  align-self: center;
}
.contact-us-cont .form-cont form h2{
  margin: 1rem 0;
  font-family: "Kanit";
  text-align: center;
  color: black;
}
.contact-us-cont .form-cont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form #input{
  margin: 0.3rem 0rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0.3rem;
  font-size: 1rem;
  width: auto;
  border-bottom: solid 1px skyblue;
  color: white;
  outline: none;
  background-color: transparent;
  font-family: 'Kanit';
}
form button:hover{
  color: greenyellow;
}
.contact-us-cont button:hover .fa-paper-plane{
  color: greenyellow;
}
.contact-us-cont form .success{
  font-family: "Raleway-Bold";
  visibility: hidden;
  font-size: 0.7rem;
  text-align: center;
  transition: all 1s ease;
  transition-delay: 0.2s;
  margin: 0.2rem 0;
  color: white;
}
form:hover{
  box-shadow: rgb(255, 57, 150) 0px 20px 30px -15px;
}
form:hover button{
  color: rgb(255, 57, 150);
}
form button:hover{
  color: greenyellow;
}
form:hover .fa-paper-plane{
  color:  rgb(255, 57, 150);;
}
form:hover #input{
  border-bottom: solid 1px rgb(255, 57, 150);
}
#input:focus{
  border-bottom:solid 1px orange !important;
}
footer .copyright{
  text-align: center;
  align-self: center;
  margin-top: 0.7rem;
  font-family: 'Kanit';
  display: flex;
  flex-direction: column;
}
footer a{
  margin: 0.5rem 0rem;
  min-width: 250px;
  box-sizing: border-box;
}
footer img{
  max-height: 60px;
}
.logo-icons{
  width: 40%;
  justify-self: center;
}
.acc-name{
  font-family: "Raleway-Bold";
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
.foot-con{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.soc-wrap{
  margin: 0.4rem 0;
}
.acc-name{
  align-self: center;
  justify-self: center;
}
.clg-soc-links-cont:hover{
  box-shadow: rgb(255, 57, 150) 0px 20px 30px -15px;
}
.mapouter{
  box-shadow: rgb(38, 57, 255) 0px 20px 30px -15px;
  justify-self: center;
}
.mapouter:hover{
  box-shadow: rgb(255, 57, 150) 0px 20px 30px -15px;
}
@media only screen and (max-width:1076px){
 .contact-us-cont{
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
}
@media only screen and (max-width:400px){
  .contact-us-cont form{
    width: 250px;
  }
  .contact-us-cont .clg-soc-links-cont{
    width: 250px;
  }
  .contact-us-cont #gmap_canvas{
    width: 250px;
  }
  .contact-us-cont .gmap_canvas{
    width: 250px;
 }
 .contact-us-cont .mapouter{
   width: 250px;
 }
}
@media only screen and (max-width:855px){
  .foot-con{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:1rem
  }
  .copyright{
    order: 1;
  }
  #acm-footer{
    margin-left: -1.1rem;
  }
}
/**************************************FOOTER**************************************/
/**************************************************************/
#progress {
  border-bottom: 2px solid aqua;
  width: 0;
  position: fixed;
  top:82px;
  left: 0;
  z-index: 100;
}
@media only screen and (max-width: 1089px) {
  #progress{
    top: 0;
  }
}